@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;1,700&display=swap');

$font: 'Merriweather', serif;
$background-color: #78808D;
$text-color: #fff;

body {
	font-family: $font;
	background-color: $background-color;
	color: $text-color;
}
